.interactive-button {
    background-color: #4CAF50; /* Green background color */
    border: none; /* Remove border */
    color: white; /* Text color */
    padding: 10px 20px; /* Padding */
    text-align: center; /* Center text */
    text-decoration: none; /* Remove underlines */
    display: inline-block; /* Display as inline block */
    font-size: 16px; /* Font size */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Add cursor pointer */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
     margin-left:auto;
 }

    .interactive-button:hover {
        background-color: #45a049; /* Darker green background color on hover */
    }
